[build]
target = "x86_64-rsos.json"

[alias]
docs = "doc --no-deps"

[unstable]
build-std = ["core", "alloc"]
build-std-features = ["compiler-builtins-mem"]
json-target-spec = true

[target.'cfg(target_os = "none")']
runner = "setup/runner.sh"
